@import url("https://fonts.googleapis.com/css2?family=Lato&family=Major+Mono+Display&family=Playfair+Display&family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.intro {
  background-image: url(../images/bg-image.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.intro .intro__wrapper {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  border: none;
  padding-top: 28px;
  position: relative;
  z-index: 1;
}

.intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10.81%, #0A1E27), color-stop(94.68%, rgba(10, 30, 39, 0.4)), color-stop(100.15%, rgba(10, 30, 39, 0)));
  background: linear-gradient(0deg, #0A1E27 10.81%, rgba(10, 30, 39, 0.4) 94.68%, rgba(10, 30, 39, 0) 100.15%);
  top: 0;
  left: 0;
  z-index: 0;
}

.header__logo, .logo__link {
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Major Mono Display", monospace;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.info {
  padding: 188px 0 476px;
}
.info .info__title {
  font-size: 100px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  color: rgb(255, 255, 255);
  -webkit-backdrop-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
          backdrop-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}
.info .info__subtitle {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(211, 186, 116);
  letter-spacing: 0.24em;
}
.info .info__text {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  max-width: 513px;
  margin: 40px 0;
}

.button__detail {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

.features, .goals {
  background-color: rgb(15, 30, 38);
}
.features .features__wrapper, .features .goals__wrapper, .goals .features__wrapper, .goals .goals__wrapper {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  border: none;
  position: relative;
}
.features .features__pictures, .features .goals__pictures, .goals .features__pictures, .goals .goals__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits, .purposes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 64px;
  width: 100%;
}
.benefits .benefits__subtitle, .benefits .purposes__subtitle, .purposes .benefits__subtitle, .purposes .purposes__subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(211, 186, 116);
  letter-spacing: 0.24em;
  margin-left: 10px;
}
.benefits .benefits__title, .benefits .purposes__title, .purposes .benefits__title, .purposes .purposes__title {
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 70px;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  margin-top: 12px;
  white-space: pre-line;
}
.benefits .benefits__text, .benefits .purposes__text, .purposes .benefits__text, .purposes .purposes__text {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  max-width: 528px;
}
.benefits .benefits__image, .benefits .purposes__image, .purposes .benefits__image, .purposes .purposes__image {
  margin-left: 20px;
}
.benefits .benefits__image img, .benefits .benefits__image .propositions__image_one, .benefits .benefits__image .explore__image_one, .benefits .purposes__image img, .benefits .purposes__image .propositions__image_one, .benefits .purposes__image .explore__image_one, .purposes .benefits__image img, .purposes .benefits__image .propositions__image_one, .purposes .benefits__image .explore__image_one, .purposes .purposes__image img, .purposes .purposes__image .propositions__image_one, .purposes .purposes__image .explore__image_one {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.benefits .benefits__wrapper, .benefits .purposes__wrapper, .purposes .benefits__wrapper, .purposes .purposes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits .benefits__wrapper::before, .purposes .benefits__wrapper::before {
  content: "01";
  font-size: 11.25rem;
  line-height: 270px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.13);
  position: absolute;
  top: 0;
  left: 28px;
}

.propositions {
  background-color: rgb(15, 30, 38);
}
.propositions .propositions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  border: none;
  padding: 150px 0;
}

.propositions__image {
  width: 50%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 511px;
  width: 50%;
  position: relative;
}
.about .about__subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(211, 186, 116);
  letter-spacing: 0.24em;
  position: relative;
  margin-left: 10px;
}
.about .about__line {
  width: 51px;
  height: 2px;
  background-color: #D3BA74;
}
.about .about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about__title {
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 70px;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", serif;
  margin: 12px 0 20px;
}
.about .about__text {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.benefits__line, .purposes__line {
  width: 51px;
  height: 2px;
  background-color: #D3BA74;
}

.line__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about::before {
  content: "02";
  font-size: 11.25rem;
  line-height: 270px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.13);
  position: absolute;
  top: 10px;
  left: -190px;
}

.purposes__wrapper::before {
  content: "03";
  font-size: 11.25rem;
  line-height: 270px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.13);
  position: absolute;
  top: 0;
  left: -10px;
}

.reviews {
  background-color: rgb(15, 30, 38);
}
.reviews .reviews__wrapper {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 124px 131px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results {
  text-align: center;
}

.results__numbers {
  font-size: 6.25rem;
  line-height: 110px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.13);
}

.results__subtitles {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(211, 186, 116);
  letter-spacing: 0.24em;
}

.explore {
  background-color: rgb(15, 30, 38);
}
.explore .explore__wrapper {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.research__title {
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 70px;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", serif;
}

.research__text {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  max-width: 512px;
  margin: 12px 0 64px;
}

.footer {
  background-color: rgb(15, 30, 38);
}
.footer .footer__wrapper {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}/*# sourceMappingURL=style.css.map */