body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.app-download {
    background-color: rgba(237, 76, 92, 1);
    display: flex;
    width: 100%;
}
.app-download-text {
    color: #fff;
    padding: 122px 81px 111px 165px;
}
.app-download-title, .contacts-info-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43.2px;
}
.app-download-info, .contacts-info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
}
.app-download-photo {
    padding: 94px 216px 95px 0;
}
.app-download-icons {
    display: flex;
    margin-top: 40px;
}
.app-download-icons img {
    margin-right: 25px;
}
.contacts {
    display: flex;
    margin: 117px 165px 45px 176px;
}
.contacts-info-text {
    width: 434px;
}
.contacts-form {
    padding-left: 125px;
    color: rgba(19, 39, 67);
    font-size: 16px;
    line-height: 19.2px;
}
#fname, #lname {
    width: 255px;
    height: 60px;
    box-sizing: border-box;
}
#fname {
    margin-right: 25px;
}
#fname, #lname, #phone, #select {
    border-radius: 6px;
    border: 1px solid #333333;
    padding-left: 31px;
    opacity: 50%;
}
#phone, #select {
    width: 540px;
    height: 60px;
}
#phone {
    box-sizing: border-box;
    margin: 24px 0;
}
#submit {
    background-color: #ED4C5C;
    border-radius: 6px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;  
    font-weight: 400;
    padding: 17px 34px;
    margin-top: 27px;
    cursor: pointer;
}
footer {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    padding-left: 166px;
    padding-top: 45px;
    padding-right: 196px;
    font-size: 12px;
    color: #101010;
    line-height: 150%;
}
.info {
    margin: 0 30px;
    width: 25%;
}
.info-services {
    list-style-type: none;
    padding: 0;
    line-height: 160%;
}
nav h6 {
    font-size: 18px;
    font-weight: 700;
}
.info-mail, .info-phone {
    text-decoration: none;
    color: inherit;
    margin-bottom: 11px;
}
.info-phone {
    margin-bottom: 21px;
}
.info-data {
    display: flex;
    flex-direction: column;
}
.info-social {
    width: 66px;
    height: 14px;
}
.info-copyright {
    font-size: 12px;
    padding: 86px 196px;
    
}




