footer {
    background-color: var(--blue-color);
}
.footer-container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    padding: 52px 0;
    justify-content: space-between;
}
.nav-links li {
    list-style-type: none;
    margin-right: 37px;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
}
.list-links {
    display: flex;
}
.logo-nav {
    color: #fff;
}
.icon-footer {
    margin-left: 17px;
}